@inject NavigationManager NavigationManager
@* 
<button @onclick="EditSymptom" class="btn btn-primary">Edit Symptom</button>" *@

@code {
    void EditSymptom(int id)
    {
        NavigationManager.NavigateTo($"/editsymptom/{id}");
    }
}


