@page "/description"

<PageTitle>Description</PageTitle>

<h1>Welcome to MediPal!</h1>

<br />

<h2>MediPal is open source medical software that gives users true access to their holistic health picture. This application is meant to simplify getting the important information to the person, in way they are able to understand.</h2>

<br />

<h4>This page will serve as the initial load of the application. This will divert to the landing page upon landing page load, which is shown in the picture below.</h4>

<br />

<div>
    <img src="/landingPage.png" height="800"/>
</div>
